---
layout: layout.njk
title: Home
---

<section class="intro">
  <img src="/images/Name.png" alt="Alisa Afanasieva logo" class="hero-logo" />
  <p>Web designer<br />Frontend developer<br />Graphic & Motion designer</p>
  <a href="/about/">More about me</a>
</section>
